@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


*{
    box-sizing: border-box;
}

#title{
    text-align: center;
    cursor: default;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    background-color:#333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music-contaner{
    background-color: #818181;
    border-radius: 15px;
    display: flex;
    height: 375px;
    width: 300px;
    padding: 20px 34px;
    margin: 50px;
}
#name{
    cursor: default;
    color: #8f8f8f;
}
.img-contaner{
    position:relative;
    right:0px;
    left: 5px;
    width: 210px;

}
.img-contaner img {
    width: inherit;
    margin: 5px;
    height: 210px;
    border-radius: 6px;
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation img {
    height: 24px;
    width: 24px;
    margin: 5px;

}
.action-btn{
    border-radius: 50px;
    border: none;
    margin: 5px;
    margin-top: 7px;
    cursor: pointer;
    background-color:#818181;
}

.progess-contaner{
    background: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    height: 4px;
    width: 100%;

}
.progess{
background-color: rgb(221, 220, 220);
border-radius: 5px;
height: 100%;
width: 50%;
transition:  width 0.1s linear;
}

